html {
    cursor: url('img/cursor.cur'), auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

/* TUTTI GLI ELEMENTI */
* {
    margin: 0;
    padding: 0;
}
/* SELEZIONE PERSONALIZZATA */
*::selection {
    background-color: var(--bg-select);
    color: var(--color-select);
}


/* CLASSI PER IL BODY (STYLE DINAMICO) */
.theme-light {
    --bg-body: #EEE;

    --bg-titolo: #0090cd;
    --color-titolo: #fff;
    --color-hr-titolo: #fff;

    --bg-parameters: #FAFAFA;
    --color-parameters: #000;
    --color-hr-parameters: #000;
    --shadow-parameters: #AAA;

    --bg-item: var(--bg-body);
    --bg-item-hover: #AAA;

    --bg-btn: var(--bg-titolo);
    --color-btn: #fff;
    --bg-btn-reverse: #000;
    --color-btn-reverse: #fff;

    --bg-select: #AAA;
    --color-select: #000;
}
.theme-dark {
    --bg-body: #333;

    --bg-titolo: #222;
    --color-titolo: #fff;
    --color-hr-titolo: #fff;

    --bg-parameters: var(--bg-titolo);
    --color-parameters: #fff;
    --color-hr-parameters: #fff;
    --shadow-parameters: #000;

    --bg-item: var(--bg-body);
    --bg-item-hover: #555;

    --bg-btn: var(--bg-item);
    --color-btn: #fff;
    --bg-btn-reverse: #000;
    --color-btn-reverse: #fff;

    --bg-select: #AAA;
    --color-select: #000;
}
body {
    margin: 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-body);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
/* FINE BODY DINAMICO */


/* HEADER */
.header {
    background-color: var(--bg-titolo);
    color: var(--color-titolo);
    height: 17dvh;
    min-height: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h1 {
    text-align: center;
    padding-left: 68px;
    position: relative;
    min-width: 200px;
}
hr {
    width: 60px;
    border: 2px solid var(--color-hr-titolo);
    border-radius: 20px;
    margin: 15px auto;
}
.parameters hr {
    border: 2px solid var(--color-hr-parameters);
}

/* DIV CASA E CARTA PER PARAMETRI */
.main {
    height: fit-content;
    min-height: 83dvh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 35px;
    padding: 50px 0;
    box-sizing: border-box;
}

.img-casa {
    position: relative;
    display: inline-block;
}
img#casa-img {
    transform: scale(1.3);
    user-select: none;
    -webkit-user-drag: none;
    filter: drop-shadow(0 0 10px var(--shadow-parameters));
}

/* DIV PARAMETRI */
.parameters {
    width: 100%;
    max-width: 700px;
    height: fit-content;
    min-height: 70vh;
    border-radius: 20px;
    padding: 15px;
    margin-right: 20px;
    background-color: var(--bg-parameters);
    color: var(--color-parameters);
    box-sizing: border-box;
    box-shadow: 0 0 15px 1px var(--shadow-parameters);
}
.parameters h2 {
    text-align: center;
}
.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
    height: fit-content;
    min-height: 80%;

    gap: 2%;
}
.item {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    width: fit-content;
    min-width: 100%;
    height: fit-content;
    min-height: 75px;
    background-color: var(--bg-body);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    transition: ease-in-out 0.3s;
    overflow: hidden;
}
.item img {
    width: 50px;
    user-select: none;
}
.item:hover {
    background-color: var(--bg-item-hover);
}
#ora_tempo_vento {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    min-height: 180px;

    grid-column: span 2;
    grid-row: span 2;
}
#btn {
    grid-column: span 3;
    text-decoration: none;
    user-select: none;
    border-width: 0;
    border-radius: 7px;
    background-color: var(--bg-btn);
    color: var(--color-btn);
    padding: 7px;
    margin-top: 15px;
    transition: ease-out 0.3s;
    box-sizing: border-box;
    position: relative;
    top: 200%;
}
#btn:hover {
    background-color: var(--bg-btn-reverse);
}
#spegni {
    grid-column: span 3;
    background-color: transparent;
    user-select: none;
}

.clear {
    clear: both;
    position: relative;
}



@media screen and (max-width: 1400px) {
    .items {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(7, 1fr);
        grid-auto-flow: column;
    }
    #temperatura {
        grid-area: 3 / 2;
    }
    #porte {
        grid-area: 4 / 2;
    }
    #btn {
        top: 100%;
    }
    .parameters {
        min-height: 700px;
    }
    div.img-casa {
        transform: scale(0.9);
    }
}
@media screen and (max-width: 1050px) { /* Tablets */
    .main {
        grid-template-columns: 1fr !important;
        gap: 60px;
    }
    .parameters {
        margin: 0;
    }
    div.img-casa {
        transform: scale(0.9);
    }
}
@media screen and (max-width: 768px) {
    div.img-casa {
        transform: scale(0.8);
    }
}
@media screen and (max-width: 690px) {
    .switch1 {
        left: calc(-55% - 4em) !important;
    }
    div.img-casa {
        transform: scale(0.7);
    }
    .parameters {
        max-width: 500px;
    }
}
@media screen and (max-width: 500px) {
    .switch1 {
        left: calc(-62% - 4em) !important;
    }
    div.img-casa {
        transform: scale(0.6);
    }
    .parameters {
        max-width: 300px;
    }
    .main {
        gap: 0;
    }
    .items {
        row-gap: 10px;
    }
    .item {
        min-height: 91px;
        max-width: 104px;
    }
}
@media screen and (max-width: 400px) {
    .switch1 {
        left: calc(-60% - 4em) !important;
    }
    body {
        font-size: 15px;
    }
    div.img-casa {
        transform: scale(0.5);
    }
    .parameters {
        max-width: 250px;
    }
    .items {
        row-gap: 15px;
    }
    .item {
        min-height: 110px;
    }
}
